body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background: #e0f2f1;
    color: #212121;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
    padding: 1rem;
}

h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.form__wrapper {
    padding: 2rem 3rem 4rem;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h2 {
        font-size: 2rem;
    }
}

form {
    min-width: 20rem;
    width: 100%;
    max-width: 25rem;
}

.form__title {
    text-align: center;
    margin: 1rem auto 2rem;
}

.form__input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;

    label {
        font-weight: bold;
        margin-bottom: 0.25rem;
    }

    input {
        padding: 0.5rem;
        font-size: 1.25rem;
    }
}

.form__actions {
    margin-top: 1rem;
    margin-bottom: 2rem;
}


.form__submit {
    width: 100%;
}

.form__error {
    color: #b71c1c;
    margin-top: 0.25rem;
}

.form__input-group:has(.form__error) input {
    border: 2px solid #b71c1c;
    border-radius: 3px;
}

.btn {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    cursor: pointer;
}

a.btn {
    text-decoration: none;
    display: inline-block;
}

.btn--blue {
    background: #1565c0;
    color: white;

    &:hover {
        background: #0d47a1;
    }
}
