/* content */
.content p {
    padding: 10px;
}

.content ul {
    padding-left: 40px;
}

.banner {
    text-align: center;
    margin: 20px;
}

/* borrowed from auth.css, perhaps consolidate */
.btn {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    cursor: pointer;
}

a.btn {
    text-decoration: none;
    display: inline-block;
}

.btn--blue {
    background: #1565c0;
    color: white;

    &:hover {
        background: #0d47a1;
    }
}

.wt-form {
    display: flex;
    flex-direction: column;
}
