* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.outer-wrapper {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 100px;
    background-color:#55b7ff;
    color: white;
}

.sidebar ul {
    list-style: none;
    margin-top: 54px;
}

.sidebar ul li {
    /* width: 100%; */
    height: 40px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar ul li:hover {
    color: #000;
    background-color: #469ad6;
    /* cursor: pointer; */
    text-decoration-color: #000;
}

.sidebar {
    .logout__menu-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logout-link {
        background: none;
        border: none;
        color: white;
        font-size: 16px;
        cursor: pointer;
        padding: 0;
        text-decoration: none;
        height: 100%;
        box-sizing: border-box;
        width: 100%;
    }
}

.main-area {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Header */
header {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    background-color: #55b7ff;
    border-left: 1px solid #808080;
}

.logo {
    font-size: 22px;
    color: #fff;
    font-family: Constantia,"Times New Roman", serif;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.user-info a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.user-info a:hover {
    text-decoration: underline;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    
}

/* Content */
.content {
    flex: 1;
    padding: 25px;
    background-color: #fff;
    overflow-y: auto;
}

.content p {
    padding: 10px;
}

.content ul {
    padding-left: 40px;
}

.banner {
    text-align: center;
    margin: 20px;
}

/* borrowed from auth.css, perhaps consolidate */
.btn {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    cursor: pointer;
}

a.btn {
    text-decoration: none;
    display: inline-block;
}

.btn--blue {
    background: #1565c0;
    color: white;

    &:hover {
        background: #0d47a1;
    }
}
