<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Baby Steps{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
        {% block extra_head %}{% endblock %}
    </head>

    <body>
      <main>
        {% block content %}{% endblock %}
      </main>
      <footer>
        <p>&copy; 2026 Baby Steps</p>
        <nav>
          <a href="{{ url_for('index') }}">Home</a>
        </nav>
      </footer>
    </body>
</html>