<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My Website{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <!-- <link rel="stylesheet" href="../static/css/styles.css"> -->
    </head>
    <body>
        <div class = "outer-wrapper">
            <nav class = "sidebar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/Profile">Profile</a></li>
                    <li><a href="/Babies">Babies</a></li>
                    <li><a href="/Logout">Logout</a></li>
                </ul>
            </nav>
            <div class = "main-area">
                <header class = "header">
                    <h1 class = "logo">Baby Steps</h1>
                    <div class = "user-info">
                        <span>Welcome, {{ user.first_name }}</span>
                        <img src = "{{ url_for('static', filename='images/profile-pic.png') }}" alt = "Profile Picture" class = "profile-pic" href = "/Profile">
                        
                    </div>
                </header>
                
                <main class="content">
                {% block content %}{% endblock %}
                </main>

            </div>
            
        </div>
    </body>
</html>