{% extends "base.html" %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/child_profile.css') }}">
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="main-content">

      <!-- Header: photo + name + info -->
      <div class="profile-header">
        <div class="photo-placeholder"><img src="{{ url_for('static', filename='images/Default_pfp.jpg') }}" alt="Child Photo"></div>
        <div class="profile-info">
          <div class="name-banner">{{ child.first_name }}</div>
          <div class="info-row">
            <ul class="info-list">
              <li>{{ child.first_name }} {{ child.last_name }}</li>
              <li>DOB: {{ child.dob }}</li>
              <li>{{ "Female" if child.gender == "F" else "Male" }}</li>
              <li>{{ child.eye_color | capitalize if child.eye_color else "Eye color not recorded" }} Eyes</li>
            </ul>
            <button class="edit-btn" disabled>Edit</button>
          </div>
        </div>
      </div>

      <!-- TBD Data Section -->
      <div class="data-section">
        <div class="feeding-table-container">
          <table class = "feeding-table">
          <thead>
            <tr class="feeding-table-header">
              <th>Date</th>
              <th>Time</th>
              <th>Type</th>
              <th>Amount</th>
              <th></th>
              <!-- <th></th> -->
            </tr>
          </thead>
          <tbody>
            {%  for event in feeding_events %}
            <tr class="feeding-table-row">
              <td>{{ event.timestamp.strftime("%Y-%m-%d") }}</td>
              <td>{{ event.timestamp.strftime("%I:%M %p") }}</td>
              <td> feeding</td>
              <td>{{ event.description }}</td>
              <td><button class="edit-btn" onclick="window.location.href='{{url_for('edit_feeding_event', event_id=event.id)}}'" >Edit</button></td>
              <!-- <td><button class="delete-btn" onclick="">Delete</button></td> -->
            </tr>
            {% endfor %}
          </tbody>
          </table>


        </div>
        
      </div>

    </div>

{% endblock %}