{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}

<div class = "dashboard-user-info">
    <h1 class="dashboard-h1">Homepage</h1>
    <!-- <img src="{{ url_for('static', filename='images/Default_pfp.jpg') }}" alt="User Icon" class="dashboard-user-icon"> -->
    <!-- <span>{{ user.first_name }} {{ user.last_name }}</span> -->
    <!-- <br> -->
    <p>Welcome back, here you can manage your babies and add new feeding events.</p>
    <hr>
    <span>You have {{ babies|length }} babies</span>
    
</div>
    

    {% for baby in babies %}
        <div class ="dashboard-baby-content">
            <card class ="dashboard-baby-card">
                <table>
                    <tr>
                        <td class="dashboard-baby-card-header">
                            <img src="{{ url_for('static', filename='images/Default_pfp.jpg') }}" alt="Baby Icon" class="dashboard-baby-icon" href="{{ url_for('get_child', child_id=baby.id) }}">
                            <div href="{{ url_for('get_child', child_id=baby.id) }}" class="dashboard-baby-name">
                                <h4>{{ baby.first_name}}</h4>
                                <h4>{{ baby.last_name }}</h4>
                            </div>    
                        </td>
                    </tr>
                    <tr><td><hr></td></tr>
                    <tr>
                        {% set feeding_event = recent_feedings[baby.id] %}
                        <td>
                            <p> <strong>Gender:</strong> {{ baby.gender }} </p>
                            <p> <strong>Age:</strong> {{ (current_date - baby.dob).days // 30 }} months</p>
                            <div>
                                <p><strong>Last Feeding:</strong></p>
                                <p>Timestamp: {{ feeding_event.timestamp if feeding_event else "No feeding events" }}</p>
                                <p>Description: {{ feeding_event.description if feeding_event else "No description available" }}</p>
                            </div>
                        </td>
                    </tr>
    
                </table>
            </card>
            <button type="submit" class="dashboard-baby-fevent-button" onclick="window.location.href='{{ url_for('create_feeding_event', child_id=baby.id) }}'">New Event</button>
        </div>
            
    {% endfor %}

    <div class ="dashboard-add-baby-button-container">
        <button class="dashboard-add-baby-button" onclick="window.location.href='{{ url_for('create_child') }}'">Add Baby</button>
    </div>

{% endblock %}