{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}

<div class = "dashboard-header">
    <h1 class="dashboard-h1">Homepage</h1>
    <p>Welcome back, here you can manage your babies and add new feeding events.</p>
    <hr>
    <br>
    <span>Showing {{ babies|length }} babies</span>
</div>
    

    {% for baby in babies %}
        <div class ="dashboard-baby-content">
            <card class ="dashboard-baby-card">
                <table>
                    <tr>
                        <td>
                            <a class="dashboard-baby-card-header" href="{{url_for('get_child', child_id=baby.id)}}">
                                <img src="{{ url_for('static', filename='images/Default_pfp.jpg') }}" alt="Baby Icon" class="dashboard-baby-icon" href="{{ url_for('get_child', child_id=baby.id) }}">
                                <div href="{{ url_for('get_child', child_id=baby.id) }}" class="dashboard-baby-name">
                                    <h4>{{ baby.first_name}}</h4>
                                    <h4>{{ baby.last_name }}</h4>
                                </div>  
                            </a>
                        </td>
                    </tr>
                    <tr><td></td></tr>
                    <tr>
                        {% set feeding_event = recent_feedings[baby.id] %}
                        <td>
                            <p> <strong>Gender:</strong> {{ baby.gender }} </p>
                            <p> <strong>Age:</strong> {{ (current_date - baby.dob).days // 30 }} months</p>
                            <div>
                                <br>
                                <p><strong>Last Feeding:</strong></p>
                                <p>{{ feeding_event.timestamp.strftime("%A, %I:%M %p") if feeding_event else "No feeding events" }}</p>
                                <p>Description: <br>{{ (feeding_event.description if feeding_event else "No description available") | truncate(40, killwords=False, end='...') }}</p>
                            </div>
                        </td>
                    </tr>
    
                </table>
            </card>
            <button type="submit" class="dashboard-baby-fevent-button" onclick="window.location.href='{{ url_for('new_feeding_event') }}'">New Event</button>
        </div>
            
    {% endfor %}

    <div class ="dashboard-add-baby-button-container">
        <button class="dashboard-add-baby-button" onclick="window.location.href='{{ url_for('new_child') }}'">Add Baby</button>
    </div>

{% endblock %}