{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_profile.css') }}">
{% endblock %}

{% block content %}
<h1 class="dashboard-h1">Edit User Profile</h1>
<div class ="user-container">
    <form method="POST" action="{{ url_for('update_user', user_id=user.id)}}" class="wt-form">
        {{ form.csrf_token }}
        <div class="form-box">
            <div class="form-line">{{ form.first_name.label }}: {{ form.first_name(size=20) }}</div>
            <div class="form-line">{{ form.last_name.label }}: {{ form.last_name(size=20) }}</div>
            <div class="form-line">{{ form.email.label }}: {{ form.email(size=30) }}</div>
            <div class="form-line">{{ form.password.label }}: {{ form.password(size=20) }}</div>
            <div class="form-line">{{ form.password_confirmed.label }}: {{ form.password_confirmed(size=20) }}</div>
        </div>
        <div class="form-line">Note: leave both password fields empty to not change password, or ensure both passwords are the same new text to update your password</div>
        <button type="submit" class="btn btn--blue">Save</button>
    </form>
</div>

{% endblock %}