{% extends "base.html" %}
{% block title %}Edit Event{% endblock %} 

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/feeding_event.css') }}">
{% endblock %}

{% block content %}
<div class="feeding-container">
    <div class="feeding-title">Edit Feeding Event</div>
    <form method="POST" action="{{ url_for('update_feeding_event', event_id=event.id) }}" id="update-form" class="feeding-form">
        <label>Child:</label>
        <select name="child_id" required>
            {% for child in children %}
            <option value="{{ child.id }}"
                {% if child.id == event.child_id %}selected{% endif %}>
                {{ child.first_name }} {{ child.last_name }}
            </option>
            {% endfor %}
        </select>
        <label>Date & Time:</label>
        <input type="datetime-local" name="date"
                value="{{ event.timestamp.strftime('%Y-%m-%dT%H:%M') }}"
                required>
    
        <label>Description:</label>
        <textarea name="description">{{ event.description or '' }}</textarea>
    </form>
    <div class="button-container">
        <button type="submit" class="update" form="update-form">UPDATE FEED</button>
        <form method="POST" action="{{ url_for('delete_feeding_event', event_id=event.id) }}"
        onsubmit="return confirm('Are you sure you want to delete this feeding event?');" class="inline">
            <button type="submit" class="delete-feed">DELETE</button>
        </form>
    </div>
</div>
{% endblock %}