{% extends "auth_base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div>
  <h1 class="app-title">Baby Steps</h1>
  <section id="login" class="form form__wrapper">
  <form action="/login" method="post" class="login-form">
    <h2 class="form__title">Login</h2>
    <div class="form__input-group">
      <label for="email">E-mail</label>
      <input type="email" id="email" name="email" placeholder="Enter your email" required>
    </div>
    <div class="form__input-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Enter your password" required>
    </div>
    <div class="form__actions">
      <button type="submit" class="form__submit btn btn--blue">Login</button>
    </div>
    Need an account? <a href="{{ url_for('register') }}" class="register-link">Register</a>
  </form>
</section>
</div>
{% endblock %}
