{% extends "auth_base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div>
  <h1 class="app-title">Baby Steps</h1>
  <section id="login" class="form form__wrapper">
    <form action="{{ url_for('login') }}" method="post" class="login-form">
      {{ form.hidden_tag() }}
      <h2 class="form__title">Login</h2>
      <div class="form__input-group">
        {{ form.email.label }}
        {{ form.email(placeholder="Enter your email", required=true) }}
        {% for error in form.email.errors %}
          <span class="form__error">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="form__input-group">
        {{ form.password.label }}
        {{ form.password(placeholder="Enter your password", required=true) }}
        {% for error in form.password.errors %}
          <span class="form__error">{{ error }}</span>
        {% endfor %}
      </div>
      {% for message in get_flashed_messages() %}
        <div class="form__error">{{ message }}</div>
      {% endfor %}
      <div class="form__actions">
        <button type="submit" class="form__submit btn btn--blue">Login</button>
      </div>
      Need an account? <a href="{{ url_for('register') }}" class="register-link">Register</a>
    </form>
  </section>
</div>
{% endblock %}
