{% extends "base.html" %} 
{% block title %}New Feed Event{% endblock %} 

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/feeding_event.css') }}">
{% endblock %}

{% block content %}
<div class="feeding-container">
  <div class="feeding-title">Add Feeding Event</div>
    <form method="POST" action="{{ url_for('create_feeding_event') }}" class="feeding-form">
      <label>Child:</label>
      <select name="child_id" required>
        <option value="" disabled selected>-- Select a child --</option>
        {% for child in children %}
        <option value="{{ child.id }}">{{ child.first_name }} {{ child.last_name }}</option>
        {% endfor %}
      </select>
      <label for="date">Date & Time:</label>
      <!-- can do type datetime-local for both on one line or separate date and time inputs -->
      <input type="datetime-local" id="date" name="date" required /><br />
      <!-- <label for="time">Time:</label>
            <input type="time" id="time" name="time" required><br> -->
      <label for="description">Description:</label>
      <textarea id="description" name="description"></textarea>
      <div class="button-container">
        <button type="submit" class="update">ADD EVENT</button>
      </div>
    </form>
</div>
{% endblock %}
