{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_profile.css') }}">
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="main-content">

        <!-- Header: photo + name + info -->
        <div class="profile-header">
            <div class="photo-placeholder"><img src="{{ url_for('static', filename='images/Default_pfp.jpg') }}" alt="User Photo"></div>
            <div class="profile-info">
                <div class="name-banner">{{ user.first_name }}</div>
                <div class="info-row">
                    <ul class="info-list">
                        <li>{{ user.first_name }} {{ user.last_name }}</li>
                        <li>Email: {{ user.email }}</li>
                    </ul>
                    <button class="edit-btn" onclick="window.location.href='{{ url_for('edit_user', user_id=user.id) }}'">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}